#quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

#quote-text {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#quote-author {
  font-size: 1.2rem;
}

#new-quote {
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}
